.dashboardNavButton{
    -fx-background-radius : 0 35 35 0;
    -fx-border-radius : 0 35 35 0;
    -fx-min-width: 192;
    -fx-min-height: 59;
    -fx-effect: dropshadow(gaussian, #c4c4c4,25,0,0,0);
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #044E9A;
}